<div class="baldwin-container">
  
  <main class="content-center">
    <h1 class="vibe-title">
      CONTROL<br>TOTAL.
    </h1>
    
    <p class="vibe-subtitle">
      Tus finanzas. Tus viajes. Elevados.
    </p>
    
    <div class="actions">
      <button routerLink="/register" class="btn-perron">
        EMPEZAR AHORA
      </button>
      
      <div class="sub-action">
        <span>¿Ya estás dentro?</span>
        <a routerLink="/login" class="link-login">Iniciar Sesión</a>
      </div>
    </div>
  </main>
  
  <div class="noise-overlay"></div>
</div>