
/*  Por defecto OCULTA en PC */
.bottom-nav-container {
  display: none;
}

/*Mostrar SOLO en Celulares */
@media (max-width: 768px) {
  
  :host {
    display: block;
    padding-bottom: 80px; 
  }

  .bottom-nav-container {
    display: block; /* Activamos el contenedor */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* ¡Muy importante! Para que flote sobre todo */
    background: #ffffff;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1); /* Sombra sutil arriba */
    border-top: 1px solid #eee;
  }

  .mobile-nav {
    display: flex;              /* Esto los pone uno al lado del otro */
    justify-content: space-around; /* Espacio igual entre ellos */
    align-items: center;
    height: 65px;               /* Altura de la barra */
    padding-bottom: 5px;        /* Ajuste para iPhone con barra abajo */
  }

  .nav-item {
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #a0a0a0;             
    font-size: 11px;            
    width: 100%;
    height: 100%;
    transition: color 0.2s;
  }

  .nav-item i {
    font-size: 24px;            /* Tamaño del ícono */
    margin-bottom: 2px;
  }

  /* Color cuando estás en esa página (Activo) */
  .nav-item.active-link {
    color: #0d6efd; 
    font-weight: 600;
  }
}