<router-outlet></router-outlet>

<div class="bottom-nav-container" *ngIf="showMenu">
  <nav class="mobile-nav">
    
    <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-item">
      <i class="bi bi-grid-fill"></i>
      <span>Panel</span>
    </a>

    <a routerLink="/savings" routerLinkActive="active-link" class="nav-item">
      <i class="bi bi-piggy-bank-fill"></i>
      <span>Ahorros</span>
    </a>

    <a routerLink="/debts" routerLinkActive="active-link" class="nav-item">
      <i class="bi bi-credit-card-2-front-fill"></i>
      <span>Deudas</span>
    </a>
  </nav>
</div>