<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
          
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h1 class="mt-1 mb-5 pb-1">💰</h1> 
                  <h4 class="mt-1 mb-5 pb-1">Finance Manager</h4>
                </div>
                <form (ngSubmit)="login()">
                  <p>Por favor, inicia sesión en tu cuenta</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text"
                          id="username"
                          name="username"
                          class="form-control"
                          [(ngModel)]="model.username"
                          required />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="password">Password</label>
                    <input type="password"
                          id="password"
                          name="password"
                          class="form-control"
                          [(ngModel)]="model.password"
                          required />
                  </div>
                  <div *ngIf="errorMessage" class="alert alert-danger text-center">
                    {{ errorMessage }}
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-lg w-100 gradient-custom-2 mb-3" 
                            type="submit" 
                            [disabled]="isLoading">
                      
                      <ng-container *ngIf="isLoading">
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        Ingresando...
                      </ng-container>

                      <span *ngIf="!isLoading">Log in</span>

                    </button>
                    <a class="text-muted" href="#!">Olvidaste tu contraseña?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tienes cuenta?</p>
                    <button type="button" class="btn btn-outline-danger" routerLink="/auth/register">Crear nueva</button>
                  </div>

                </form>

              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Toma el control de tu dinero</h4>
                <p class="small mb-0">
                    Bienvenido a Finance Manager. La herramienta diseñada para ayudarte 
                    a rastrear tus gastos, ahorrar inteligentemente y evitar 
                    esas sorpresas a fin de mes.
                </p>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
