/* login.component.scss */

.gradient-custom-2 {
  background: linear-gradient(
    135deg,
    #0f172a,  /* negro azulado */
    #1f2937,  /* gris oscuro */
    #020617   /* casi negro */
  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
